.calendarJournal{
    width: 100%;
    .react-calendar{
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        // background-color: rgb(225, 228, 229);
        border-radius: 10px;
        text-align: center;
        .react-calendar__month-view__weekdays__weekday{
            color: rgb(93, 93, 93);
            font-size: 1.2rem;
            text-decoration: none;
        }
        .react-calendar__navigation{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .react-calendar__navigation__label{
                // background-color: rgb(189, 116, 116);
                min-width: 60%;
                padding: 10px;
                border-radius: 5px;
                // flex-grow: 0;
                span {
                    padding: 10px;
                    // background-color: green;
                    color: black;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                }

            }
            .react-calendar__navigation__prev-button,
            .react-calendar__navigation__next-button{
                color: rgb(95, 95, 95);
                // border: 1px solid blue;
                width: 20%;
                padding: 10px;
                font-weight: bolder;
                position: relative;
                // height: 30px;
            }
            .react-calendar__navigation__prev-button:hover,
            .react-calendar__navigation__next-button:hover{
                color: #ff9879;
                // border: 1px solid blue;
     
                // height: 30px;
            }
            
            .react-calendar__navigation__prev-button:hover::after{
                content: "previous month";
                position: absolute;
                font-size: .9rem;
                background-color: #ff9879;
                color: white;
                border-radius: 5px;
                z-index: 1000;
                min-width: 142px;
                top: -18px;
                left: -31px;
                padding: 10px;
            }
            .react-calendar__navigation__next-button:hover::after{
                content: "next month";
                position: absolute;
                font-size: .9rem;
                background-color: #ff9879;
                color: white;
                border-radius: 5px;
                z-index: 1000;
                min-width: 142px;
                top: -18px;
                left: -31px;
                padding: 10px 5px;
            }
    
            .react-calendar__navigation__prev2-button,
            .react-calendar__navigation__next2-button{
                color: rgb(212, 96, 49)
            }
        }
        .react-calendar__tile {
            // margin: 2px;
            // border-radius: 10px;
            background-color: white;
            padding: 20px;
            border: 3px solid #f2f2ff;
            position: relative;
            
        }
        .react-calendar__tile:hover{
            background-color: #9696c9;
            color: white;
        }
        .react-calendar__month-view__days__day {
            color: black;
        }
        
        .react-calendar__month-view__days__day--weekend {
            color: #ff9879;
            font-weight: bolder;
        }
        .react-calendar__month-view__days__day--neighboringMonth{
            background-color: rgb(192, 192, 192);
            color: rgb(99, 99, 99);
        }
        .react-calendar__month-view__days__day--neighboringMonth:hover {
            background-color: #4d4d6377;

        }
        .react-calendar__navigation__arrow {
            // background-color: red;
            padding: 10px;
            font-size: 30px;
            background-color: transparent;
        }

        // .react-calendar__navigation__arrow.react-calendar__navigation__next-button{
        //     // font-size: 1rem;
        // }
        .existingEvent{
            // color: #45c7c3;
            // background-color: #ff9879;
        }
        .existingEvent::after {
            content: "";
            // border: 1px solid green;
            position: absolute;
            top: -10px;
            right: -10px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            // color: #45c7c3;
            background-color: #45c7c372;
            z-index: 1000;
        }
        .existingEvent:hover::after{
            background-color: #45c7c3;

        }
        // .existingEvent:hover{
        //     color: white;
        //     background-color: #ff815a;
        // }
        .todayDate{
            background-color: #45c7c3;
            color: white;
            font-weight: bolder;
        }
        .selectedDay{
            background-color: red;
        }
    }
    .journalDetail{
        width: 30%;
    }
}