    // Background colours
    $lightBlue: #D8F0FD;
    $offWhite: #F8FFFF;


    // Foreground colours 
    $purple: #34344A;

    // Accent colours 
    $teal: #087E8B;
    $orange: #E4572E;


    // Others
    $black: #000000;
    $darkGrey: #363636;
    
    .feelingSect{

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .emoCardBtn {
                padding: 5px;
                width: 30%;
                margin: 10px auto;
                text-align: center;
                border-radius: 10px;
                button {
                    background-color: $offWhite;
                    border: $teal solid 2px;
                    color: $black;
                    width: 100%;
                    // background: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    .emo {
                        font-size: 2rem;
                    }
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    padding: 5px;
                    li {
                        width: 45%;
                        margin: 0 auto;
                        button {
                            background-color: $offWhite;
                            border: 1px solid black;
                            justify-content: center;
                        }
                        .selected {
                            background: rgb(177, 243, 243);
                            // color: red;
                        }
                        
                    }
                }
            }
        }
    }
    