    // Background colours
    $lightBlue: #D8F0FD;
    $offWhite: #F8FFFF;


    // Foreground colours 
    $purple: #34344A;

    // Accent colours 
    $teal: #087E8B;
    $orange: #E4572E;


    // Others
    $black: #000000;
    $darkGrey: #363636;
    
    .feelingSect{

        ul{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .emoCardBtn {
                padding: 1rem;
                width: 30%;
                min-width: 300px;
                margin: 10px auto;
                text-align: center;
                border-radius: 1rem;
                button {
                    background-color: $offWhite;
                    border: $teal solid 2px;
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 1rem;
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    .emo {
                        font-size: 1.5rem;
                    }
                    span {
                        color: black;
                    }
                }
                button:hover, button:active {
                    border: $teal solid 3px;
                }

                ul {
                    width: 100%;
                    background-color: $offWhite;
                    border: solid 2px $teal;
                    border-radius: 1rem;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;

                    li {
                        width: calc((100% / 2) - 10px);
                        margin: 6.5px 5px;

                        button {
                            width: 100%;
                            font-size: 16px;
                            background-color: $offWhite;
                            border: solid 0.25px $black;
                            justify-content: center;
                        }

                        button:hover {
                            border: solid 2px $black;
                        }

                        .selected {
                            background: rgb(177, 243, 243);
                            border: solid 2px $black;
                        }

                    }
                }
            }
        }
    }
