// HOMEPAGE CALL TO ACTION + USER TESTIMONIAL SECTION

// COLOUR VARIABLES
// Background colours
$lightBlue: #D8F0FD;
$offWhite: #F8FFFF;


// Foreground colours 
$purple: #34344A;

// Accent colours 
$teal: #087E8B;
$orange: #E4572E;


// Others
$black: #000000;
$darkGrey: #363636;

.callToAction {
    height: 200vh;
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .ctaDiv {
        height: 30%;
        background-color: $offWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 54px;

        .ctaText {
            width: 40%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;

            button {
                background-color: $teal;
                border-radius: 1rem;
                font-family: 'Lustria', serif;
                color: white;
                margin-right: 1.3rem;
                padding: 10px;
            
            }
            
            button:hover,
            button:active {
                background-color: white;
                color: $black;
                border: 2px solid $orange;
            }
        }

        .ctaImg {
            width: 40%;
            height: 80%;
            background-color: white;
            border: 1.5px solid black;
        }
    }

    .testimonialsModal {
        height: 30%;
        background-color: $offWhite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 54px;
        padding: 100px;
        position: relative;


        .testimonialText {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        .testimonialImg {
            width: 45%;
            height: 80%;
            background-color: white;
            border: 1.5px solid black;
        }
        .arrowDiv {
            position: absolute;
            top: 50%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            button {
                cursor: pointer;
            }
            img {
                width: 25%;
            }

        }
    }
}