

header {
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    .wrapper {
        display: flex;
        justify-content: end;
    }
    .headerDiv {
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            width: 100%;
            display: flex;
            justify-content: start;
            button {
                margin-right: 1.3rem;
                padding: 10px;

            }
        }
    }
}