.myAccount {
    background: url(../Assets/gradientBgDesktop.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .accountGreeting {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 7.5%;
        
        h1{
            text-align: center;
            transform: scale(0.94);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
            margin-bottom: 1.5rem;
            font-weight: bold;

            span {
                color: $teal;
                display: inline-block;
                opacity: 0;
                filter: blur(4px);
                margin-right: 12px;
            }

            .greetingName {
                text-transform: capitalize
            }

            span:nth-child(1) {
                animation: fade-in 0.6s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(2) {
                animation: fade-in 0.6s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(3) {
                animation: fade-in 0.6s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            @keyframes fade-in {
                100% {
                    opacity: 1;
                    filter: blur(0);
                }
            }
        }

        h2 {
            text-transform: capitalize;
            text-align: center;
                transform: scale(0.94);
                animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);

            span {
                    color: $black;
                    display: inline-block;
                    opacity: 0;
                    filter: blur(4px);
                    margin-right: 10px;
            }

            span:nth-child(1) {
                animation: fade-in 1.75s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(2) {
                animation: fade-in 1.75s 1.15s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(3) {
                animation: fade-in 1.75s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(4) {
                animation: fade-in 1.75s 1.45s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(5) {
                animation: fade-in 1.75s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(6) {
                animation: fade-in 1.75s 1.75s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }
        }

        @keyframes scale {
            100% {
                transform: scale(1);
            }
        }
    }
    .buttonContainer{
        margin: 3.5% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        .mainBtn{
            transition: all 0.5s ease-in;            
            background-image: linear-gradient(to top left, #000000, #046874, #4ec3d0);
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            color: white;
            font-size: 1.3rem;
            font-weight: bolder;
            letter-spacing: 0.15rem;
            border-radius: 1.5rem;
            padding: 2.5rem 7rem;
            margin: 1.5rem 2.5rem;
        }

        .mainBtn:hover, .mainBtn:focus, .mainBtn:active {
            box-shadow: inset 0px 0px 5px #686c6c;
        }
    }

    .myRow {
        margin: 2% auto;
        justify-content: center;

        h2 {
            margin: 1rem auto;
            text-decoration: underline $teal solid 1px;
            text-align: center;
        }
    }
}