nav {
    background-color: #087E8B;
        div {

            display: flex;
            justify-content: space-between;

            h2 {
                padding: 1rem 0.5rem;
                margin: 0;
            }
            
            ul {
                display: flex;
                flex-direction: row;
            
                .navItem {
                    // color: black;
                    background-color: transparent;
                    padding: 1rem 0.5rem;
                    color: white;
                }
            
                li {
                    button {
                        padding-top: 2px;
                    }
                }
            }
        }
}