// NAVBAR STYLES 

// Background colours
$lightBlue: #D8F0FD;
$offWhite: #F8FFFF;


// Foreground colours 
$purple: #34344A;

// Accent colours 
$teal: #087E8B;
$orange: #E4572E;


// Others
$black: #000000;
$darkGrey: #363636;


nav {
    background-color: $purple;
    color: white;
        div {

            display: flex;
            justify-content: space-between;

            h2 {
                padding: 1rem 0.5rem;
                margin: 0;
            }
            
            ul {
                display: flex;
                flex-direction: row;
            
                .navItem {
                    color: white;
                    background-color: transparent;
                    padding: 1rem 0.5rem;
                    .otherBtn{

                        font-size: 2rem;
                    }
                    i {
                        font-size: 1rem;
                    }
                }
            
                li {
                    padding: 0 1rem;
                    
                    button {
                        padding-top: 2px;
                    }
                }
            }
            .otherMenu{
                background-color: #087E8B;
                position: absolute;
                flex-direction: column;
                padding: 10px;
                li{
                    padding: 10px;
                }
            }
        }
}