// Background colours
$lightBlue: #D8F0FD;
$offWhite: #F8FFFF;


// Foreground colours 
$purple: #34344A;

// Accent colours 
$teal: #087E8B;
$orange: #E4572E;


// Others
$black: #000000;
$darkGrey: #363636;

.quickJournal{
    min-height: 100vh;
    background: url(../Assets/gradientBgDesktop.jpg) no-repeat; 
    background-attachment: fixed;
    padding: 5% 0;
    background-size: cover;

    form {
        max-width: 750px;
        width: 80%;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            width: 100%;
            margin: 0.5rem auto;

            label {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            input {
                line-height: 2rem;
                width: 100%;
                border: 0.5px solid $teal;
                background: $offWhite;
                border-radius: 0.5rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                ::placeholder {
                        color: black;
                }
            }

            input:hover, input:focus, input:active {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;            
            }

            textarea{
                line-height: 1.75rem;
                width: 100%;
                resize: none;
                background-color: $offWhite;
                border: 0.5px solid $teal;
                border-radius: 0.5rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            button {
                transition: all 0.3s ease;
                background-color: $teal;
                border-radius: 1rem;
                font-family: 'Lustria', serif;
                color: white;
                margin-top: 1rem;
                margin-right: 1.3rem;
                padding: 0.5rem 3rem;

            }

            button:hover {
                background-color: white;
                color: $black;
                border: 2px solid $orange;
            }

            button:active {
                background-color: $orange;
                color: white;
            }

        }
    }
}