// Background colours
$lightBlue: #D8F0FD;
$offWhite: #F8FFFF;


// Foreground colours 
$purple: #34344A;

// Accent colours 
$teal: #087E8B;
$orange: #E4572E;


// Others
$black: #000000;
$darkGrey: #363636;
$lightGrey: #979494;


.modal {
    background-color: rgba(23, 23, 24, 0.543);

    .modal-content {
        background-color: $offWhite;
        border-radius: 2rem;

        .modal-header {
            border: none;
        }

        .modal-body {

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                label {
                    margin-left: 12rem;
                }
            
                input {
                    background-color: white;
                    border: 2px solid $lightGrey;
                    border-radius: 0.25rem;
                    margin: 0 12rem 1.5rem 12rem;
                }

                button {
                    transition: all 0.3s ease;
                    background-color: $teal;
                    border-radius: 0.5rem;
                    font-family: 'Lustria', serif;
                    color: white;
                    margin: 2rem 17.5rem;
                    padding: 1rem;
                
                }
                
                button:hover,
                button:active {
                    background-color: white;
                    color: $black;
                    border: 2px solid $orange;
                }
            }
        }
        
    }
}