
// Background colours
$lightBlue: #D8F0FD;
$offWhite: #F8FFFF;


// Foreground colours 
$purple: #34344A;

// Accent colours 
$teal: #087E8B;
$orange: #E4572E;


// Others
$black: #000000;
$darkGrey: #363636;

@import "normalize";
@import "typography";
@import "navBar";
@import "homePageHeader";
@import "homePageDescription";
@import "homePageCTA";
@import "homePageFooter";
@import "signUpModal";
@import "factsPage";
@import "myAccount";
@import "quickJournal";
@import "journalsPage";
@import "emotionsSect";
@import "calendar";
@import "recentJournal";




body {
    .wrapper {
        margin: 0 auto;
        padding: 0;
        width: 70%;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }

    button {
        border: none;
        padding: 0;
        margin: 0;
    }
    .generalBtn {
        padding: 10px 30px;


    }

    a {
        text-decoration: none;
        display: inline-block;
    }
    .centeredEverything{
        text-align: center;
        margin: 0 auto;
    }
    .myRow {
        display: flex;
    }
    .minHt{
        min-height: 100vh;
    }
    .spaceBetween{
        justify-content: space-between;
    }
}
