@import "normalize";
@import "navBar";
@import "homePageHeader";
@import "homePageDescription";
@import "homePageCTA";
@import "homePageFooter";
@import "signUpModal";

// Background colours
$lightBlue: #D8F0FD;
$offWhite: #F8FFFF;

// Foreground colours 
$purple: #34344A;

// Accent colours 
$teal: #087E8B;
$orange: #E4572E;

// Others
$black: #000000;




body {



    .wrapper {
        margin: 0 auto;
        padding: 0;
        width: 70%;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }

    button {
        border: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }
}