@import url("https://fonts.googleapis.com/css2?family=Halant&family=Lustria&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, label, .modal-header {
  font-family: "Halant", serif;
}

h5, p, li, button, a {
  font-family: "Lustria", serif;
  font-size: 14pt;
}

span {
  color: #087E8B;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 18pt;
}

nav {
  background-color: #34344a;
  color: white;
}
nav div {
  display: flex;
  justify-content: space-between;
}
nav div h2 {
  padding: 1rem 0.5rem;
  margin: 0;
}
nav div h2 .logoSolo {
  width: 1.5rem;
}
nav div ul {
  display: flex;
  flex-direction: row;
}
nav div ul .navItem {
  color: white;
  background-color: transparent;
  padding: 1rem 0.5rem;
}
nav div ul .navItem .otherBtn {
  font-size: 2rem;
}
nav div ul .navItem i {
  font-size: 2rem;
}
nav div ul li {
  padding: 0 1rem;
}
nav div ul li button {
  padding-top: 2px;
}
nav div ul li button:hover,
nav div ul li button:active {
  -webkit-text-decoration: underline solid 1px white;
          text-decoration: underline solid 1px white;
}
nav div .otherMenu {
  background-color: #34344a;
  position: absolute;
  right: 0;
  z-index: 50;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  -webkit-animation: slideOut 0.5s ease forwards;
          animation: slideOut 0.5s ease forwards;
  transform-origin: top right;
  z-index: 1005;
}
nav div .otherMenu li {
  padding: 10px;
}
nav div .otherMenu li a {
  margin: 1rem 0;
}
nav div .otherMenu li a:hover, nav div .otherMenu li a:active {
  -webkit-text-decoration: underline white solid;
          text-decoration: underline white solid;
}
@-webkit-keyframes slideOut {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes slideOut {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

header {
  height: 80vh;
  background-image: url(../Assets/Mountain_landing_page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .wrapper {
  display: flex;
  justify-content: end;
}
header .headerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .headerDiv div {
  width: 100%;
  display: flex;
  justify-content: start;
}
header .headerDiv div button {
  transition: all 0.3s ease;
  background-color: #087E8B;
  border-radius: 1rem;
  font-family: "Lustria", serif;
  color: white;
  margin-top: 1rem;
  margin-right: 1.3rem;
  padding: 0.5rem 3rem;
}
header .headerDiv div button:hover {
  background-color: white;
  color: #000000;
  border: 2px solid #E4572E;
}
header .headerDiv div button:active {
  background-color: #E4572E;
  color: white;
}

.appDescription {
  background-color: #F8FFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
}
.appDescription .appDescDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem 0;
}
.appDescription .appDescDiv .appDescText {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.appDescription .appDescDiv .appDescText p {
  margin: 1.25rem 0;
}
.appDescription .appDescDiv .appDescImg {
  width: 50%;
  height: 380px;
}
.appDescription .appDescDiv .appDescImg img {
  width: 100%;
}

.callToAction {
  background-color: #D8F0FD;
  padding: 7rem 0;
}
.callToAction .ctaDiv {
  background-color: #F8FFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 54px;
  padding: 5rem 0;
  position: relative;
}
.callToAction .ctaDiv .ctaText {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.callToAction .ctaDiv .ctaText p {
  padding: 1rem 0;
}
.callToAction .ctaDiv .ctaText button {
  transition: all 0.3s ease;
  background-color: #087E8B;
  border-radius: 1rem;
  font-family: "Lustria", serif;
  color: white;
  margin-top: 1rem;
  margin-right: 1.3rem;
  padding: 0.5rem 3rem;
}
.callToAction .ctaDiv .ctaText button:hover {
  background-color: white;
  color: #000000;
  border: 2px solid #E4572E;
}
.callToAction .ctaDiv .ctaText button:active {
  background-color: #E4572E;
  color: white;
}
.callToAction .ctaDiv .ctaImg {
  width: 50%;
  height: 90%;
}
.callToAction .ctaDiv .ctaImg img {
  width: 65%;
  position: absolute;
  left: 47.5%;
  bottom: 5%;
}

footer {
  min-height: 30vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgba(23, 23, 24, 0.543);
}
.modal .modal-content {
  background-color: #F8FFFF;
  border-radius: 2rem;
}
.modal .modal-content .modal-header {
  border: none;
}
.modal .modal-content .modal-body form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal .modal-content .modal-body form label {
  margin-left: 12rem;
}
.modal .modal-content .modal-body form input {
  background-color: white;
  border: 2px solid #979494;
  border-radius: 0.25rem;
  margin: 0 12rem 1.5rem 12rem;
}
.modal .modal-content .modal-body form button {
  transition: all 0.3s ease;
  background-color: #087E8B;
  border-radius: 0.5rem;
  font-family: "Lustria", serif;
  color: white;
  margin: 2rem 17.5rem;
  padding: 1rem;
}
.modal .modal-content .modal-body form button:hover, .modal .modal-content .modal-body form button:focus,
.modal .modal-content .modal-body form button:active {
  background-color: white;
  color: #000000;
  border: 2px solid #E4572E;
}

.facts {
  background: url(../Assets/gradientBgDesktop.jpg) no-repeat fixed;
  text-align: center;
  background-size: cover;
}
.facts .wrapper h1 {
  padding-top: 5%;
}
.facts .wrapper form .active {
  background-color: aquamarine;
}
.facts .wrapper form .parentCntr {
  position: relative;
}
.facts .wrapper form .parentCntr input {
  width: 70%;
  padding: 0 1rem;
  text-align: center;
  background: transparent;
  border: #087E8B solid 1px;
  border-radius: 0.5rem;
}
.facts .wrapper form .parentCntr input:hover, .facts .wrapper form .parentCntr input:active {
  border: solid 2px #000000;
}
.facts .wrapper form .parentCntr p {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: aqua;
  padding: 10px;
}
.facts .wrapper form h3 {
  padding-top: 5%;
}
.facts .wrapper form .journalTxtDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.facts .wrapper form .journalTxtDiv textarea {
  max-width: 650px;
  width: 100%;
  border: solid 1px #087E8B;
  border-radius: 1rem;
  resize: none;
  padding: 1rem;
  margin: 2rem auto;
}
.facts .wrapper form .journalTxtDiv textarea:hover, .facts .wrapper form .journalTxtDiv textarea:active {
  border: solid 2px #000000;
}
.facts .wrapper form .generalBtn {
  width: 80px;
  font-family: "Lustria", serif;
  text-transform: capitalize;
  transition: all 0.3s ease;
  background-color: #087E8B;
  border-radius: 0.5rem;
  color: white;
  margin: 2rem 17.5rem;
  padding: 0.5rem 1rem;
  margin: 5% auto;
}
.facts .wrapper form .generalBtn:hover, .facts .wrapper form .generalBtn:active {
  background-color: white;
  color: #000000;
  border: 2px solid #E4572E;
}
.facts .wrapper .prompts ul {
  display: flex;
  flex-wrap: wrap;
}
.facts .wrapper .prompts ul li {
  margin: 20px auto;
  min-width: 30%;
  max-width: 90%;
}
.facts .wrapper .prompts ul li button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
}
.facts .wrapper .prompts ul li button i {
  padding: 10px;
  border: 1px solid rgb(85, 83, 83);
  border-radius: 50%;
  margin-right: 10px;
}
.facts .wrapper .prompts ul li button p {
  margin: 0 auto;
  background: #F8FFFF;
  border: 1px solid #087E8B;
  width: 100%;
  padding: 10px 20px;
  border-radius: 1rem;
  min-width: 200px;
}
.facts .wrapper .prompts ul li button p:hover {
  border: solid 2px #000000;
}
.facts .wrapper .prompts ul li .active {
  background: rgb(177, 243, 243);
  border: solid 2px #000000;
}

.myAccount {
  background: url(../Assets/gradientBgDesktop.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.myAccount .accountGreeting {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7.5%;
}
.myAccount .accountGreeting h1 {
  text-align: center;
  transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.myAccount .accountGreeting h1 span {
  color: #087E8B;
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin-right: 12px;
}
.myAccount .accountGreeting h1 .greetingName {
  text-transform: capitalize;
}
.myAccount .accountGreeting h1 span:nth-child(1) {
  -webkit-animation: fade-in 0.6s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.6s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.myAccount .accountGreeting h1 span:nth-child(2) {
  -webkit-animation: fade-in 0.6s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.6s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.myAccount .accountGreeting h1 span:nth-child(3) {
  -webkit-animation: fade-in 0.6s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.6s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.myAccount .accountGreeting h2 {
  text-transform: capitalize;
  text-align: center;
  transform: scale(0.94);
  -webkit-animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.myAccount .accountGreeting h2 span {
  color: #000000;
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin-right: 10px;
}
.myAccount .accountGreeting h2 span:nth-child(1) {
  -webkit-animation: fade-in 1.75s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.75s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.myAccount .accountGreeting h2 span:nth-child(2) {
  -webkit-animation: fade-in 1.75s 1.15s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.75s 1.15s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.myAccount .accountGreeting h2 span:nth-child(3) {
  -webkit-animation: fade-in 1.75s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.75s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.myAccount .accountGreeting h2 span:nth-child(4) {
  -webkit-animation: fade-in 1.75s 1.45s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.75s 1.45s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.myAccount .accountGreeting h2 span:nth-child(5) {
  -webkit-animation: fade-in 1.75s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.75s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.myAccount .accountGreeting h2 span:nth-child(6) {
  -webkit-animation: fade-in 1.75s 1.75s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.75s 1.75s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@-webkit-keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.myAccount .buttonContainer {
  margin: 3.5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.myAccount .buttonContainer .mainBtn {
  transition: all 0.5s ease-in;
  background-image: linear-gradient(to top left, #000000, #046874, #4ec3d0);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  border-radius: 1.5rem;
  padding: 2.5rem 7rem;
  margin: 1.5rem 2.5rem;
}
.myAccount .buttonContainer .mainBtn:hover, .myAccount .buttonContainer .mainBtn:focus, .myAccount .buttonContainer .mainBtn:active {
  box-shadow: inset 0px 0px 5px #686c6c;
}
.myAccount .myRow {
  margin: 2% auto;
  justify-content: center;
}
.myAccount .myRow h2 {
  margin: 1rem auto;
  -webkit-text-decoration: underline #087E8B solid 1px;
          text-decoration: underline #087E8B solid 1px;
  text-align: center;
}

.quickJournal {
  height: 100vh;
  background: url(../Assets/gradientBgDesktop.jpg) no-repeat;
  background-attachment: fixed;
  padding: 5% 0;
  background-size: cover;
}
.quickJournal form {
  max-width: 750px;
  width: 80%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quickJournal form div {
  width: 100%;
  margin: 0.5rem auto;
}
.quickJournal form div label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.quickJournal form div input {
  line-height: 2rem;
  width: 100%;
  border: 0.5px solid #087E8B;
  background: #F8FFFF;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.quickJournal form div input ::-moz-placeholder {
  color: black;
}
.quickJournal form div input :-ms-input-placeholder {
  color: black;
}
.quickJournal form div input ::placeholder {
  color: black;
}
.quickJournal form div input:hover, .quickJournal form div input:focus, .quickJournal form div input:active {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.quickJournal form div textarea {
  line-height: 1.75rem;
  width: 100%;
  resize: none;
  background-color: #F8FFFF;
  border: 0.5px solid #087E8B;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.quickJournal form div button {
  transition: all 0.3s ease;
  background-color: #087E8B;
  border-radius: 1rem;
  font-family: "Lustria", serif;
  color: white;
  margin-top: 1rem;
  margin-right: 1.3rem;
  padding: 0.5rem 3rem;
}
.quickJournal form div button:hover {
  background-color: white;
  color: #000000;
  border: 2px solid #E4572E;
}
.quickJournal form div button:active {
  background-color: #E4572E;
  color: white;
}

.journals {
  display: flex;
  justify-content: center;
}
.journals .entryDate {
  color: #608b8c;
  font-weight: bold;
}
.journals .sortBtn .dropDownBtn {
  min-width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.journals .sortBtn .dropdown-menu {
  width: 200px;
}
.journals .journalLists {
  width: 40%;
  padding: 20px;
}
.journals .journalDetails {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  width: 55%;
  top: 0;
  padding: 20px;
  overflow-y: auto;
}
.journals .journalDetails div {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  min-height: 80vh;
  background-color: #e0eff0;
}
.journals ul li button {
  transition: all 0.3s ease;
  background-color: #e0eff0;
  font-size: 1.1rem;
  width: 100%;
  margin: 5px auto;
  padding: 20px;
  text-align: left;
  cursor: pointer;
}
.journals ul li .active {
  background-color: #5ed5de;
  color: white;
}
.journals ul li h6 {
  font-size: 0.9rem;
  color: #608b8c;
  font-weight: bold;
}

.feelingSect ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.feelingSect ul .emoCardBtn {
  padding: 1rem;
  width: 30%;
  min-width: 300px;
  margin: 10px auto;
  text-align: center;
  border-radius: 1rem;
}
.feelingSect ul .emoCardBtn button {
  background-color: #F8FFFF;
  border: #087E8B solid 2px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.feelingSect ul .emoCardBtn button .emo {
  font-size: 1.5rem;
}
.feelingSect ul .emoCardBtn button span {
  color: black;
}
.feelingSect ul .emoCardBtn button:hover, .feelingSect ul .emoCardBtn button:active {
  border: #087E8B solid 3px;
}
.feelingSect ul .emoCardBtn ul {
  width: 100%;
  background-color: #F8FFFF;
  border: solid 2px #087E8B;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.feelingSect ul .emoCardBtn ul li {
  width: calc(50% - 10px);
  margin: 6.5px 5px;
}
.feelingSect ul .emoCardBtn ul li button {
  width: 100%;
  font-size: 16px;
  background-color: #F8FFFF;
  border: solid 0.25px #000000;
  justify-content: center;
}
.feelingSect ul .emoCardBtn ul li button:hover {
  border: solid 2px #000000;
}
.feelingSect ul .emoCardBtn ul li .selected {
  background: rgb(177, 243, 243);
  border: solid 2px #000000;
}

.calendarJournal {
  width: 100%;
}
.calendarJournal .react-calendar {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.calendarJournal .react-calendar .react-calendar__month-view__weekdays__weekday {
  color: rgb(93, 93, 93);
  font-size: 1.2rem;
  text-decoration: none;
}
.calendarJournal .react-calendar .react-calendar__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__label {
  min-width: 60%;
  padding: 10px;
  border-radius: 5px;
}
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__label span {
  padding: 10px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__prev-button,
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__next-button {
  color: rgb(95, 95, 95);
  width: 20%;
  padding: 10px;
  font-weight: bolder;
  position: relative;
}
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__prev-button:hover,
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__next-button:hover {
  color: #ff9879;
}
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__prev-button:hover::after {
  content: "previous month";
  position: absolute;
  font-size: 0.9rem;
  background-color: #ff9879;
  color: white;
  border-radius: 5px;
  z-index: 1000;
  min-width: 142px;
  top: -18px;
  left: -31px;
  padding: 10px;
}
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__next-button:hover::after {
  content: "next month";
  position: absolute;
  font-size: 0.9rem;
  background-color: #ff9879;
  color: white;
  border-radius: 5px;
  z-index: 1000;
  min-width: 142px;
  top: -18px;
  left: -31px;
  padding: 10px 5px;
}
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__prev2-button,
.calendarJournal .react-calendar .react-calendar__navigation .react-calendar__navigation__next2-button {
  color: rgb(212, 96, 49);
}
.calendarJournal .react-calendar .react-calendar__tile {
  background-color: white;
  padding: 20px;
  border: 3px solid #f2f2ff;
  position: relative;
}
.calendarJournal .react-calendar .react-calendar__tile:hover {
  background-color: #9696c9;
  color: white;
}
.calendarJournal .react-calendar .react-calendar__month-view__days__day {
  color: black;
}
.calendarJournal .react-calendar .react-calendar__month-view__days__day--weekend {
  color: #ff9879;
  font-weight: bolder;
}
.calendarJournal .react-calendar .react-calendar__month-view__days__day--neighboringMonth {
  background-color: rgb(192, 192, 192);
  color: rgb(99, 99, 99);
}
.calendarJournal .react-calendar .react-calendar__month-view__days__day--neighboringMonth:hover {
  background-color: rgba(77, 77, 99, 0.4666666667);
}
.calendarJournal .react-calendar .react-calendar__navigation__arrow {
  padding: 10px;
  font-size: 30px;
  background-color: transparent;
}
.calendarJournal .react-calendar .existingEvent::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(69, 199, 195, 0.4470588235);
  z-index: 1000;
}
.calendarJournal .react-calendar .existingEvent:hover::after {
  background-color: #45c7c3;
}
.calendarJournal .react-calendar .todayDate {
  background-color: #45c7c3;
  color: white;
  font-weight: bolder;
}
.calendarJournal .react-calendar .selectedDay {
  background-color: red;
}
.calendarJournal .journalDetail {
  width: 30%;
}

.recentJournal ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recentJournal ul .journalCards {
  padding: 15px;
  border: 2px solid #65B1EF;
  border-radius: 10px;
  min-width: 250px;
  min-height: 15vh;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  transition: all 0.3s ease;
}
.recentJournal ul .journalCards .journalDate {
  margin: 0;
  font-size: 0.9rem;
}
.recentJournal ul .journalCards h4 {
  font-weight: bold;
}
.recentJournal ul .journalCards .myRow {
  justify-content: space-between;
}
.recentJournal ul .journalCards .myRow i {
  color: #67c1f2;
}
.recentJournal ul .journalCards:hover,
.recentJournal ul .journalCards:focus,
.recentJournal ul .journalCards:active {
  background-color: white;
  color: #000000;
  border: 1.5px solid #E4572E;
  box-shadow: -0.5px -0.5px 2.5px 0.5px #E4572E;
}

.journalDetail {
  min-height: 50vh;
  padding: 10px 20px;
}
.journalDetail .emotions {
  display: flex;
  justify-content: space-between;
}
.journalDetail .emotions li {
  padding: 10px;
  background-color: #9de7e7;
  margin: 5px;
  color: rgb(60, 60, 60);
  border-radius: 50%;
  font-size: 1.2rem;
}
.journalDetail .prompts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.journalDetail .prompts i {
  padding: 10px;
  background-color: #9de7e7;
  margin: 5px;
  color: rgb(60, 60, 60);
  border-radius: 50%;
  font-size: 1.2rem;
}
.journalDetail .editPrnt {
  position: relative;
}
.journalDetail .editPrnt .editBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.modalComplete .modal-content {
  max-width: 450px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalComplete .modal-content .modal-header {
  margin: 0 auto;
}
.modalComplete .modal-content .modal-header .breatheImg {
  display: flex;
  margin: 0 auto;
}
.modalComplete .modal-content .modal-header .breatheImg img {
  width: 100%;
}
.modalComplete .modal-content .modal-header button {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 25px;
}
.modalComplete .modal-content .modal-body {
  background-color: #34344A;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.modalComplete .modal-content .modal-body h3 {
  margin: 1.5rem auto;
  font-weight: bolder;
}
.modalComplete .modal-content .modal-body p {
  font-size: 1rem;
  width: 80%;
}
.modalComplete .modal-content .modal-body button {
  transition: all 0.4s ease-in;
  background-color: #087E8B;
  border: solid 1px #087E8B;
  border-radius: 0.5rem;
  font-family: "Lustria", serif;
  color: white;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}
.modalComplete .modal-content .modal-body button:hover,
.modalComplete .modal-content .modal-body button:active {
  background-color: white;
  color: #000000;
  border: 2px solid #E4572E;
}

.factsPromptCard {
  min-height: 100vh;
  background-color: rgb(174, 205, 194);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.factsPromptCard .promptCard {
  margin: 0 auto;
  background-color: white;
  width: 70%;
  border-radius: 10px;
}
.factsPromptCard .promptCard .cardSects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.factsPromptCard .promptCard .cardSects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.factsPromptCard .promptCard .cardSects ul .emoCardBtn {
  padding: 5px;
  width: 30%;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
}
.factsPromptCard .promptCard .cardSects ul .emoCardBtn button {
  border: 1px solid rgb(85, 83, 83);
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.factsPromptCard .promptCard .cardSects ul .emoCardBtn button .emo {
  font-size: 2rem;
}
.factsPromptCard .promptCard .cardSects ul .emoCardBtn ul {
  background-color: rgb(236, 186, 194);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 5px;
}
.factsPromptCard .promptCard .cardSects ul .emoCardBtn ul li {
  width: 45%;
  margin: 0 auto;
}
.factsPromptCard .promptCard .cardSects ul .emoCardBtn ul li button {
  border: 1px solid black;
  justify-content: center;
}
.factsPromptCard .promptCard .cardSects ul .emoCardBtn ul li .selected {
  background: rgb(177, 243, 243);
}

body .wrapper {
  margin: 0 auto;
  padding: 0;
  width: 70%;
}
body ul {
  padding: 0;
  margin: 0;
}
body ul li {
  list-style: none;
}
body button {
  border: none;
  padding: 0;
  margin: 0;
}
body .generalBtn {
  padding: 10px 30px;
}
body a {
  text-decoration: none;
  display: inline-block;
}
body .centeredEverything {
  text-align: center;
  margin: 0 auto;
}
body .myRow {
  display: flex;
}
body .minHt {
  min-height: 100vh;
}
body .spaceBetween {
  justify-content: space-between;
}/*# sourceMappingURL=Style.css.map */