html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  background-color: grey;
}
nav h2 {
  padding: 1rem 0.5rem;
  margin: 0;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul .navItem {
  color: black;
  background-color: transparent;
  padding: 1rem 0.5rem;
}
nav ul li button {
  padding-top: 2px;
}

header {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
}
header .wrapper {
  display: flex;
  justify-content: end;
}
header .headerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .headerDiv div {
  width: 100%;
  display: flex;
  justify-content: start;
}
header .headerDiv div button {
  margin-right: 1.3rem;
  padding: 10px;
}

.appDescription {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.appDescription .appDescDiv {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.appDescription .appDescDiv .appDescText {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.appDescription .appDescDiv .appDescImg {
  width: 45%;
  height: 380px;
  background-color: white;
}

.callToAction {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.callToAction .ctaDiv {
  height: 30%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 54px;
}
.callToAction .ctaDiv .ctaText {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.callToAction .ctaDiv .ctaImg {
  width: 40%;
  height: 80%;
  background-color: white;
}
.callToAction .testimonialsModal {
  height: 30%;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 54px;
  padding: 100px;
  position: relative;
}
.callToAction .testimonialsModal .testimonialText {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.callToAction .testimonialsModal .testimonialImg {
  width: 45%;
  height: 80%;
  background-color: white;
}
.callToAction .testimonialsModal .arrowDiv {
  position: absolute;
  left: -20px;
  width: 105%;
  display: flex;
  justify-content: space-between;
}
.callToAction .testimonialsModal .arrowDiv button {
  background-color: transparent;
  cursor: pointer;
}
.callToAction .testimonialsModal .arrowDiv img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
}

footer {
  min-height: 30vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .wrapper {
  margin: 0 auto;
  padding: 0;
  width: 70%;
}
body ul {
  padding: 0;
  margin: 0;
}
body ul li {
  list-style: none;
}
body button {
  border: none;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  display: inline-block;
}/*# sourceMappingURL=Style.css.map */